apiVersion: alpha.oscea.com/v1
kind: Transpose
metadata:
  name: myProxy
  namespace: default
spec:
  debug: true

  listener:
    name: mylistener
    package: github.com/aunem/transpose-plugins/listener/http
    spec: 
      port: 80
      ssl: false

  middleware:
    request:
    - name: myplugin
      package: github.com/aunem/transpose-plugins/middleware/auth
      spec:
        authUrl: my.auth.com
        clientID: transposeClient
    response:
    - name: myplugin
      package: github.com/oscea/transpose-plugins/middleware/auth
      spec:
        authUrl: my.auth.com
        clientID: transposeClient
        auditUrl: my.audit.com

  roundtrip:
    name: myroundtrip
    package: github.com/aunem/transpose-plugins/roundtrip/supermux
    spec:
      http:
      - path: "/"
        backend:
          serviceName: myservice
          servicePort: 80
